.welcome {
    position: relative;
    font-size: 40px;
    text-align: right;
}
.frameIcon {
    width: 33px;
    position: relative;
    height: 33px;
    overflow: hidden;
    flex-shrink: 0;
}
.enterInput {
    position: relative;
}
.enterInputWrapper {
    /*align-self: stretch;*/
    border-radius: 10px;
    background-color: #fff;
    border-bottom: 1px solid #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 20px;
}
.additionalInfo {
    position: relative;
    font-size: 24px;
    font-weight: 300;
    color: #000;
}
.inputField {
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    color: rgba(0, 0, 0, 0.51);
    margin-bottom: 16px;
}
.enterInputContainer {
    /*align-self: stretch;*/
    border-radius: 10px;
    background-color: #fff;
    border-bottom: 1px solid #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
}
.inputField1 {
    width: 837px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
    color: rgba(0, 0, 0, 0.51);
}
.text {
    position: relative;
    letter-spacing: 0.08em;
}
.buttons {
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-color: #b9daf7;
    padding: 13px 95px;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    font-family: Outfit;
    width: auto;
    height: auto;
    font-size: 32px;
}
.groupChild {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 475px;
    height: 2.1px;
    object-fit: contain;
}
.or {
    position: absolute;
    top: 17.06px;
    left: 213px;
    letter-spacing: 0.08em;
}
.buttons1 {
    position: absolute;
    top: 71.06px;
    left: 126.5px;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-color: #b9daf7;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 13px 50px;
    font-family: Outfit;
}
.lineParent {
    width: 475px;
    position: relative;
    height: 137.1px;
    text-align: center;
    font-family: Inter;
}
.loginoverlay {
    width: 725px;
    backdrop-filter: blur(4px);
    border-radius: 20px;
    background-color: #fff0e6;
    border: 1px solid #6b2e00;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 25px 19px;
    gap: 39px 725px;
    text-align: left;
    font-size: 32px;
    color: #000;
    font-family: Roboto;
}

.formContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

