.rectangleDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 16px;
    border-radius: 50px;
    background-color: #98c8f3;
    height: 113px;
    margin: 12px 26px 54px 26px;
}

.logoIcon {
    width: 335px;
    position: relative;
    border-radius: 50px;
    max-width: 100%;
    overflow: hidden;
    height: 80px;
    object-fit: cover;
}

.navButton {
    width: 50px;
    height: 50px;
    border-radius: 40px;
    padding: 0px;
    display: flex;
    justify-items: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-inline: 12px;
    overflow: hidden;
    background-color: #fff0e6;
}

.navButtonIcon {
    z-index: 10;
    width: 80%;
    height: 80%;
    object-fit: cover;
}

.menuContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


